wandb/
wandb/*
__pycache__/
__pycache__/*
.DS_Store
.DS_Store/*
*.ipynb
save_opt_data/*.csv
save_opt_data/*/*
save_opt_data/*/*/*
save_opt_data/*/*/*/*
save_opt_data/*/*/*/*/*
*.png 
!tasks/utils/hdr/*
run_notes.md